<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/js/home.js">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="nav">
           <h3>Hiển thị tuyến xe số: </h2>
            <select name="" id="select-stops">
                <option selected disabled value="">-- Chọn tuyến xe --</option>
            </select>
            <button onclick="showStopNear()" class="stop-name-near">Điểm dừng gần bạn</button>
            <button onclick="deleteSelect()" class="stop-name-near">Xoá</button>
            <h3>Danh sách các điểm dừng</h3>
            <ul class="route-list">
            </ul>
        </div>
        <div id="map"></div> 
    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>