#map {
    flex: 1;
}

.nav{
    width: 350px;
    height: 98vh;
    background-color: #fff;
}

.container{
    display: flex;
}
.route-list{
    width: 100%;
   max-height: 550px ; 
    overflow-y: auto;
}